/* container */
.container_pad{
	border: 4px solid red;
	background-color: #45424B;


}
.col-12{
	background-color: grey;
}
.pad{

    border: 3px solid black;
    color:black;
		margin-top:10px;
		margin-left: 15px;
		margin-bottom: 15px;
		border-radius:20px;
		box-shadow: 5px 5px 4px 2px yellow;


/* margin:10px; */
/* border-radius: 14px; */
}

	.col-3::after {
	  content: '';
	  display: block;
    padding-bottom: 100%;

	}
	.modaleButtonBackground {
    background-color: #14354F;

}
/* Pour l'écran */
.marquee-rtl {
  max-width: 30em;                      /* largeur de la fenêtre */
  margin: 2em auto 2em;
  border: 10px solid #F0F0FF;
  overflow: hidden;                     /* masque tout ce qui dépasse */
  box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
}
/* le bloc défilant */
.marquee-rtl > :first-child {
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}
#screen{
	max-width: 30em;                      /* largeur de la fenêtre */
	margin: 2em auto 2em;
	border: 10px solid #F0F0FF;
	overflow: hidden;                     /* masque tout ce qui dépasse */
	box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;

}
/* Second container */
.container_pad2{
	border:3px solid green;
}
img{
	width: 100%;
	height: auto;
}
.bouton{
	margin-left: 10px;
	box-shadow: 5px 5px 4px 2px red;
}
