
.containertest7{
border:3px solid grey;
padding-left: 10px;
display: flex;
justify-content: flex-end;
align-items: center;
}
.containertest8{
	border:3px solid pink;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* container général */
.generalContainer{
	border:4px solid green;
	display: flex;
	flex-direction: row;
	background-color: #2F2F3A;
	box-shadow: 15px 15px 1px black;
}
/* Container gauche */
.leftContainer{
border: 8px solid purple;
width: 25%;
display: flex;
flex-direction: row;
justify-content: center;

}
.containerscreen{
	border:4px solid green;
	max-height:170px;
}
.containerdestests{
	border:6px solid orange;
display: flex;
flex-direction: row;
align-self: flex-end;
/* Aligne en bas le container */
/* Pour que le container soit aligner au milieu justify-content-center dans la row */
}
.nameControlPad{
  font-size: 4em;
  font-weight: bold;
  color:grey;
  margin-top:-10px;
display: flex;
justify-content: center;
}
.customBank{
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 35px;
	color:black;
}

.customButtonLeftContainer{
	border: 1px solid black;
	text-align: center;
	background-color: grey;
}
.buttonDesactivedLeft, .buttonDesactivedRight{
 box-shadow: 4px 4px 8px red;
 	border:2px solid red;
 margin-bottom: 7px;
}
.buttonDesactivedSync{
	box-shadow: 4px 4px 8px green;
	border:2px solid green;
  margin-bottom: 7px;
}
/* Pour l'écran */
.marquee-rtl {
  max-width: 20em;                     /* largeur de la fenêtre */
  margin: 2em auto 2em;
  overflow: hidden;                     /* masque tout ce qui dépasse */
}
/* le bloc défilant */
.marquee-rtl > :first-child {
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;
	color:white;
	font-weight:lighter;
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}
#screen{
	max-width:20em;                      /* largeur de la fenêtre */
	border: 1px solid black;
	overflow: hidden;                     /* masque tout ce qui dépasse */
	background-color: #0000FE;
	box-shadow: inset 0 0 1em white, 0 0 1em black;
}

/* fin container gauche */
/* container général milieu */
.middelContainer{
	border: 6px solid red;
}
/* Fin container général */
/* Début container1 */
.container-fluid1{
}
/* Custom pad */
.test{
	border: 1px solid black;
	background-color: #2F2F3A;
}
.padCustom1{
    border: 1px solid #029F98;
    color:black;
		border-radius:5px;
		box-shadow: 6px 9px 1px 2px #029F98;
		background-color: #029F98;
		background: radial-gradient(white,#029F98);
}
.padCustom2{
    border: 1px solid #FF03F6;
    color:black;
		border-radius:5px;
		box-shadow: 6px 9px 1px 2px #FF03F6;
		background-color: #FF03F6;
		background: radial-gradient(white, #FF03F6);
}
.padCustom3{
    border: 1px solid #542F8C;
    color:black;
		border-radius:5px;
	  box-shadow: 6px 9px 1px 2px #542F8C;
		background-color: #542F8C;
		background: radial-gradient(white, #542F8C);
}
.padCustom4{
    border: 1px solid #EAC700;
    color:black;
		border-radius:5px;
		box-shadow: 6px 9px 1px 2px #EAC700;
		background-color: #EAC700;
	  background: radial-gradient(white, #EAC700);
}
.padCustom5{
    border: 1px solid #D02A58;
    color:black;
		border-radius:5px;
		box-shadow: 6px 9px 1px 2px #D02A58;
		background-color: #D02A58;
		background: radial-gradient(white, #D02A58);
}
/* Faire un media queries pour le border shadow diminuer la taille */
.pad{
	position: relative;
	width: 50%;
}
	.pad:after {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
	/* Fin Custompad */
	/* Début entetedupad */
	.padInfo{
		color:white;
	}
	.buttonDesactived{
		box-shadow: 6px 6px 6px red;
		border:2px solid red;
	}
	/* fin entetedudupad */
	.customButtonMiddleContainer{
		font-size: 10px;
		color:black;
	}

	/* Début modal */
	.modaleButtonBackground {
    background-color: #14354F;
}
/* Fin modal */
/*  */
.container-fluid2{

}
.performanceMode{
	color:white;
	margin-top:20px;
}

/* Container droit */
.rightContainer{
border: 1px solid purple;
width: 25%;
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
}
.containertest17{

}
.containertest18{
display: flex;
flex-direction: column;
/* Permet de mettre les boutons en colonnes et de la même taille */


}
.customBank2{
		writing-mode: vertical-rl;
		text-orientation: mixed;
		font-size: 35px;
		color:black;
}
